body {
   background-color: #FFDFDF; 
}

hr {
    background-color: #AEDEFC;
    border-style: none;
    height: 2px;
    width: 4%;
    border-top: dotted 9px;
    background: transparent;
}

h1 {
    color: #994D1C;
}

h3 {
    color: #994D1C;
}
